.btn-right-wrapper{
	float:right;
}
#chat{
	width:  60px;
	height: auto;
	margin-left: auto;
    margin-right: auto;
}
.item-wrapper{
	width: 100%;
	height: 70%;
}
.item-container{
	width: 100%;
	height: 65%;
	left: 20%;
	display: block;
	position: absolute;
	top: 80px;
}
.item-pic-container{
	height: 100%;
	padding-bottom: 60px;
	position: relative;
}
.item-pic{
	height: 100%;
	cursor: move;
	text-align: center;
}
.item-pic img{
	margin: 0 auto;
	height: auto;
	width: 25%;
}
.item-info{
	height: 60px;
	position: absolute;
	bottom: 0px;
	width: 100%;
	border-top: 1px solid#c3c3c3;
	padding: 10px;
	text-align: left;
}
.controls-container{
	display: block;
	width: 100%;
	text-align: center;
}
#profile{
	width: 50%;
	margin: 0 auto;
}